body {
	font-family: "Open Sans", sans-serif;
    text-align: center;
}

#codeInput {
    border: 1px solid black;
    cursor: pointer;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 15px;
}

/*#morseButton {*/
  /*display: inline-block;*/
  /*padding: 10px 15px;*/
  /*font-size: 15px;*/
  /*cursor: pointer;*/
  /*text-align: center;*/
  /*text-decoration: none;*/
  /*outline: none;*/
  /*color: white;*/
  /*background-color: #6FD656;*/
  /*border: none;*/
  /*border-radius: 50px;*/
/*}*/

/*#morseButton:active {*/
  /*background-color: #5BB844;*/
  /*transform: translateY(4px);*/
/*}*/

#morseInput {
	display: none;
	padding: 5px;
}

#letter {
	border: 1px solid #bfbfbf;
	border-radius: 5px;
}

#timing {
	overflow: auto;
	height: 100px;
	width: 300px;
	clear: left;
	font-size: 12px;
}


#displayDiv {
	text-align: center;
}

#buttonDiv {
	padding: 12px;
	text-align: center;
}

#wordDiv {
	text-align: center;
}

#letterDiv {
	display: none;
}

input[type=text] {
    width: 100px;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    outline:none;
}

#canvasDiv {
	display: inline;
	text-align: center;
}

#myCanvas {
    margin: auto;
    display: block;
}